# Logs
*.log
npm-debug.log*
.pnpm-debug.log*


# Dependency directories
node_modules/

# Optional npm cache directory
.pnpm

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# Next.js build output
.next
out

# Misc
*.DS_Store
